@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #566885;
    font-weight: bold;

}

body {
    background: #cfd6dc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}